# Telegram MTProto (get from https://my.telegram.org)
TELEGRAM_API_ID=12345678
TELEGRAM_API_HASH=your_api_hash_here
TELEGRAM_BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyz

# Channel Configuration (numeric ID or @username)
TELEGRAM_CHANNEL=@your_channel        # or: 1234567890
TELEGRAM_AUTHOR=@your_username        # or: 123456789

# Session Storage
SESSION_DIR=./session

# Git Repository
GIT_REPO_URL=https://github.com/user/blog.git
GIT_REPO_DIR=./repo
GIT_BRANCH=master
GIT_AUTH_TOKEN=ghp_xxxxxxxxxxxx
GIT_AUTHOR_NAME=PostPal
GIT_AUTHOR_EMAIL=bot@postpal.dev

# Zola Configuration
ZOLA_POSTS_DIR=content/posts
